* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background: repeating-linear-gradient(
            45deg,
            #e2eb5e 10%,
            #a8e24a 20%,
            transparent 30%
        ),
        repeating-linear-gradient(-45deg, #8ff34d 10%, #40c9c2 30%);
}
.container-fluid {
    height: 100px;
    background-repeat: no-repeat;
}
#voice {
    background-color: #5250502a;
    border: 0;
}
.custom-range::-webkit-slider-thumb {
    background: #fd4fa0;
}
.heading {
    font-family: 'Lobster', cursive;
    font-style: bolder;
    letter-spacing: 2px;
    transform: rotate(-10deg);
}
.heading::first-letter {
    font-size: 5rem;
}
.logo > i {
    background: repeating-linear-gradient(-45deg, #eb5e99 10%, #e472ee 40%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.custom-range::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #46f346, #daf10c, #61f7ea);
}
#text {
    font-size: 1.2rem;
    color: #3b3b3a;
    background-color: #14141417;
    border: 0;
}
.badge {
    background-color: #e9e7e73a;
    color: #353434;
}
#submit {
    border-radius: 3rem;
    box-shadow: -5px -5px 5rem #87f56b, 5px 5px 5rem #24ffed;
    background-color: #5bdacf;
    transition: transform 0.3s ease-in;
    outline: none;
}

#submit:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in;
}
.invalid-feedback {
    font-size: 1.1rem;
}
.badge-pill {
    font-size: 1.1rem;
}
.footer-content {
    font-size: 1.1rem;
}
.spinner {
    margin-left: 30%;
}
