* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Recursive', sans-serif;
    color: #ebe7e7;
}
body {
    background: #1a1a1a;
}
.visualiser {
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}
.visible {
    opacity: 1;
    transition: opacity 0.2s ease-in;
}
#voice {
    background-color: #5250502a;
    border: 0;
}
.custom-range::-webkit-slider-thumb {
    background: #b9b9b9;
}
.heading {
    font-family: 'Kaushan Script', cursive;
    font-style: bolder;
    letter-spacing: 2px;
    transform: rotate(-5deg);
    color: #5d99ec;
}
.heading::first-letter {
    font-size: 5rem;
}
.logo img {
    width: 8rem;
}
.custom-range::-webkit-slider-runnable-track {
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
}
#text {
    font-size: 1.2rem;
    color: #eeeeee;
    background-color: #14141417;
    border: 0;
    resize: none;
    border: 2px solid #3a3a3a;
}
.badge {
    background-color: #e9e7e73a;
    color: #353434;
}
#submit {
    border-radius: 3rem;
    background-color: #183153;
    transition: transform 0.3s ease-in;
    outline: none;
}
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#submit:hover {
    transform: translateY(-2px);
    transition: transform 0.3s ease-in;
}
.invalid-feedback {
    font-size: 1.1rem;
}
.badge-pill {
    font-size: 1rem;
    font-weight: normal;
}
.footer-content {
    font-size: 1rem;
}
.hidden {
    display: none;
}
#spinner {
    position: absolute;
    right: 0px;
    margin: auto 2px;
}
