* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Recursive', sans-serif;
    color: #ebe7e7;
}
body {
    background: #1a1a1a;
}
.container-fluid {
    height: 100px;
    background-repeat: no-repeat;
}
#voice {
    background-color: #5250502a;
    border: 0;
}
.custom-range::-webkit-slider-thumb {
    background: #e6e6e6;
}
.heading {
    font-family: 'Kaushan Script', cursive;
    font-style: bolder;
    letter-spacing: 2px;
    transform: rotate(-5deg);
    color: #6172d6;
}
.heading::first-letter {
    font-size: 5rem;
}
.logo > i {
    color: white;
}
.custom-range::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #c146cc, #4adbdb);
}
#text {
    font-size: 1.2rem;
    color: #eeeeee;
    background-color: #14141417;
    border: 0;
    resize: none;
    border: 2px solid #3a3a3a;
}
.badge {
    background-color: #e9e7e73a;
    color: #353434;
}
#submit {
    border-radius: 3rem;
    background-color: #6172d6;
    transition: transform 0.3s ease-in;
    outline: none;
}
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#submit:hover {
    transform: translateY(-2px);
    transition: transform 0.3s ease-in;
}
.invalid-feedback {
    font-size: 1.1rem;
}
.badge-pill {
    font-size: 1rem;
}
.footer-content {
    font-size: 1rem;
}
.hidden {
    display: none;
}
.spinner {
    position: absolute;
    right: 0;
    margin: auto 2px;
}
